.container {
  text-align: center;
}

.board {
  height: 440px;
  width: 350px;
  display: flex;
  margin: auto;
}
.Block {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  min-height: 100px;
  background: #3c0753;
  border: 4px solid #030637;
  border-radius: 12px;
  display: inline-block;
  cursor: pointer;
}
.mark1 {
  background-image: url("../Assets/circle.png");
  width: min-content;
  height: max-content;
  background-repeat: no-repeat;
}
.imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.mark2 {
  background-image: url("../Assets/cross.png");
  width: min-content;
  height: max-content;
  background-repeat: no-repeat;
  position: relative;
}
