body {
  background-color: #030637;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 400px;
  height: 400px;
  display: flex;
  border-radius: 10%;
  align-items: center;
  justify-content: center;
}
.titile {
  margin-top: 50px;
  color: #910a67;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reset {
  position: absolute;
  margin-left: 125px;
  width: 150px;
  height: 60px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50px;
  background: #030637;
  font-size: 26px;
  color: #910a67;
  margin-top: 25px;
  margin-bottom: 50px;
}
